@import "variables";

body {
  font-size: $font-size;
  min-width: $app-min-width;
  background-color: $body-color;
}

* {
  transition: all 1s ease-in-out;
}

#react-app {
  position: relative;
  min-height: 90vh;
}

.btn-primary {
  background-color: #3da945; //#76BA76; //#72cc6c;
  border-color: #3da945; //#76BA76; // #72cc6c;
  &:hover, &:active, &:hover:active, &:focus, &:active:focus {
    background-color: #2b8421; //#3d8835; // #3da945
    border-color: #2b8421; //#3d8835; // #3da945
  }
}

nav#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: $nav-height;
  border-bottom: 6px solid #472902;
  padding-bottom: 0.1em;
  background: #65461E;

  #inner-nav-div {
    // border-bottom: 3px solid #72cc6c;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 100%;
    align-items: center;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #65461e; //rgba(72, 48, 48, 0.8);
    align-items: flex-end;

    & > div:not(#main-nav-options) {
      display: flex;
      flex-flow: row nowrap;
    }

    div {
      margin-bottom: 0.2em;
    }

    #nav-user-settings {
      color: white;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-size: 0.8em;

      #user-dropdown {
        display: flex;
        border: 1px solid;
        padding: 0.2em 0.5em;
        background: #cff1cf;
        color: black;

        &:hover {
          cursor: pointer;
          background: #6f9a6d;
          color: white;
        }

        ul.dropdown-menu {
          right: -0.6em;
          left: initial;
          color: #6a581e;
          text-align: right;
          font-weight: bolder;
          min-width: 100px;
        }
      }
    }
  }
  
  #app-logo {
    color: #76BA76; //#8eea88;
    flex-grow: 0.5;
    text-decoration: none;
  }
  #main-nav-options {
    flex-grow: 2;
    font-size: 0.45em;
    display: flex;
    align-self: flex-end;
    padding-bottom: 0.8em;
    height: 100%;
    margin-left: 4em;
  
    @media (max-width: $max-width), (max-device-width: $max-device-width) {
      display: none;
    }
    a {
      color: white;
      margin-right: 2em;
      margin-left: 0.45em;
      display: flex;
      align-items: flex-end;
      position: relative;
      &:hover {
        text-decoration: none;
        & .menu-highlight {
          visibility: visible;
          opacity: 1;
        }
      }

      &:hover, &:active, &:hover:active, &:focus {
        text-decoration: none;
      }

      .menu-highlight {
        width: 100%;
        border: 5px solid white;
        margin-bottom: 0.6em;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 0;
      }
    }
  }

  #auth-buttons {
    flex-grow: 2;
    justify-content: flex-end;
    display: flex;
    a {
      margin-left: 0.5em;
    }
  }
  
  #app-logo:hover, #app-logo:hover:active, #app-logo:active {
    text-decoration: none;
    color: #3da945;
  }

  #hamburger {
    display: none;

    #menu-options {
      display: none;
    }

    @media (max-width: $max-width), (max-device-width: $max-device-width) {
      display: flex;
      color: white;
      margin-right: 0.5em;

      &:hover {
        cursor: pointer;
      }

      #menu-options {
        position: absolute;
        font-size: 0.5em;
        flex-flow: column nowrap;
        top: 35px;
        left: -1em;
        border: 4px solid #472902;
        padding: 1em;
        min-width: 12em;
        background: white;

        a {
          margin-bottom: 0.5em;
          border-bottom: 2px solid #76ba76;
          padding: 0.7em;
          color: #65461e;
          font-weight: bolder;
          
          &:hover {
            background: #B3EFB4; //rgba(173, 216, 230, 0.3);
          }

          &:hover, &:active, &:hover:active, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
}

nav#footer { 
  min-height: $footer-height;
  bottom: -4.5em;
  width: 100%;
  border-top: 2px solid #472902;
  background-color: #fbfbfb;

  #nav-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    // min-height: 70vh;
    margin-top: 2em;
    padding: 2em 1em;
    margin-left: 2em;
    @media (max-width: $max-width), (max-device-width: $max-device-width) {
      flex-flow: column nowrap;
    }

    .footer-component {
      max-height: 80%;
      min-width: 33%;
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 2em;
      
      @media (max-width: $max-width), (max-device-width: $max-device-width) {
        border-bottom: 2px solid grey;
        padding-bottom: 1em;
        .footer-component-body {
          display: none;
        }
      }

      .footer-component-title {
        color: #65461e;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
      .footer-component-body {
        display: flex;
        flex-flow: column nowrap;
        visibility: visible;
        opacity: 1;
        
        @media (max-width: $max-width), (max-device-width: $max-device-width) {
          display: none;
        }
    
        & > * {
          margin-top: 2em;
        }

        & > a {
          color: #848484;
          font-size: 0.9em;
        }
      }
    }
  }
}

#content-container {
  padding-top: $nav-height + 10px;
  display: flex;
  justify-content: center;
  min-height: $content-container-height;
}


.order-options.dropdown {
  height: 35px;
  margin-left: 1em;
  display: flex;
  flex-flow: row nowrap;

  div:first-child {
    width: 5em;
    max-height: 50%;
    align-self: center;
  }

  & > * {
    font-size: 0.6em;
  }
}

ul.dropdown-menu {
  flex-flow: column nowrap;

  li {
    padding: 1em;
    &:hover {
      background: #B3EFB4; //rgba(211, 234, 255, 0.42);
      cursor: pointer
    }
  }
}
form .form-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  & > * {
    flex: 1;
  }
}

.btn.btn-default.glyphicon.glyphicon-plus {
  background: lightsalmon;
  color: #ffffff;
  max-width: 2.7em;

  &:hover, &:active, &:hover:active {
    background: darksalmon;
  }

  &:focus {
    outline: 5px auto darksalmon;
  }
}

* {
  &.applied {
    background-color: rgba(220, 255, 230, 0.8);
  }

  &.phone-screen {
    background-color: #C9F7D4;
  }

  &.on-site {
    background-color: #85ED9F;
  }

  &.rejected {
    background-color: rgba(253,106,106,0.6);
  }

  &.offer {
    background-color: #5DE77F;
  }
}


.form-title {
  text-align: center;
  font-weight: bolder;
}

form label {
  color: #65461e;
  font-weight: bold;
}

.glyphicon-remove {
  font-weight: bold;
  color: rgba(175, 14, 14, 0.36);
  &:hover {
    cursor: pointer;
    color: #af0e0e; 
  }
}

.quote {
  font-style: italic;
  color: brown;
  font-weight: bold;
  margin-bottom: 1em;
}

.bounce {
  position:relative;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

@import "landing";
@import "authForms";
@import "home";
@import "dne";


@import "snakes";