#dne-page-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;

  #snakes-title {
    font-size: 0.8em;
    color: black;
    min-width: 100%;
    padding: 1em;
    background: white;
    border: 2px solid black;

    #center {
      margin-top: 1.5em;
    }
  }
}