#home-container {
  min-width: 85%;
  background: white;
  display: flex;
  flex-flow: column nowrap;

  .company-number {
    position: absolute;
    left: -2em;
    top: 2em;
    font-style: italic;
    color: rgba(165, 42, 42, 0.68);
    font-weight: bold;
  }
  
  .post-msg {
    position: absolute;
    display: flex;
    width: 50%;
    left: 25%;
    
    .success, .error {
      font-size: 1.2em;
      width: 100%
    }

    .success {
      color: #0d5a13;
      background-color: #cff1cf;
      border-color: #3da945;
    }

    .error {
      color: #881616;
      background: rgba(255, 173, 173, 0.35);
      font-weight: bold;
    }
  }


  #line-2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    #form-toggle-options {
      &:hover {
        #company-form-btn-help {
          visibility: visible;
        }
      }
    }

    .save-button {
      height: 35px;
      background: #7ce4ff;
      color: black;
      font-weight: bold;
    }

    #company-form-btn-help {
      visibility: hidden;
      position: relative;
      bottom: -0.2em;
      left: -0.5em;
      
      #help-for-add, #help-for-cancel {
        font-size: 0.6em;
        color: lightgrey;
        position: relative;
        bottom: 45%;
      }
    }
  }

  form#new-company {
    min-width: 80%;
    align-self: center;
    margin-top: 2em;
    font-size: 0.7em;

    border: 2px solid;
    padding: 2.5em;

    .post-msg {
      position: static;
      width: 100%;
      margin-bottom: 2em;
    }

    .form-title {
      font-size: 1.5em;
      padding: 0.5em;
      margin-bottom: 0.5em;
    }

    label {
      margin-bottom: 0.5em;
    }

    input {
      margin-bottom: 1em;
    }

    .form-invalid-msg {
      display: none;
      flex-flow: column nowrap;
      color: #f71f1f;
      font-weight: bolder;
      text-align: right;
      font-size: 0.9em;
    }
  }

  #jobs-forms-container {
    margin-top: 2em;

    & > .form-line:first-child {
      margin-bottom: 2em;
      border-bottom: 2px solid;
      padding: 1em;
    }

    .new-job {
      margin-bottom: 1.5em;
      border-bottom: 2px solid #c35959;
      padding: 1em;
      position: relative;

      .job-number {
        position: absolute;
        left: -1em;
        top: -0.5em;
        font-size: 1.5em;
        font-style: italic;
        font-weight: bold;
        color: #a7a2a2;
      }

      .dropdown {
        font-size: 1.2em;
      }

      ul.dropdown-menu {
        background: #eefbee
      }

      .remove-job {
        right: 0.3em;
        position: absolute;
        top: -0.5em;
        font-size: 2em;
      }

      #status-dd-job-form {
        height: 35px;
        margin-left: 1em;
        display: flex;
        flex-flow: row nowrap;
        max-width: 150px;
        justify-content: flex-end;
        align-self: center;
      }
    }

  }
  



  #home-title {
    text-align: center;
    font-size: 2em;
    max-width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0.7em;

    &:focus {
      outline: 2px dotted green;
    }
  }

  #company-sort-dd {
    ul.dropdown-menu {
      right: 0;
      left: initial;
    }
  }


  @import "jobsView";
}