#home-container {
  min-width: 85%;
  background: white;
  display: flex;
  flex-flow: column nowrap;

  .company-number {
    position: absolute;
    left: -2em;
    top: 2em;
    font-style: italic;
    color: rgba(165, 42, 42, 0.68);
    font-weight: bold;
  }


  #line-2 {
    display: flex;
    justify-content: space-between;

    button#add-company, button#cancel-company {
      right: -2.7em;
      position: relative;

    }

    #form-toggle-options {
      &:hover {
        #company-form-btn-help {
          visibility: visible;
        }
      }
    }

    button#cancel-company {
      display: none;
    }

    #company-form-btn-help {
      visibility: hidden;
      position: relative;
      bottom: -0.2em;
      left: -0.5em;
      
      #help-for-add, #help-for-cancel {
        font-size: 0.6em;
        color: lightgrey;
        position: relative;
        left: 4.5em;
        bottom: 45%;
      }
      #help-for-add {
        display: flex;
      }

      #help-for-cancel {
        display: none;
      }
    }
  }

  form#new-company {
    min-width: 80%;
    align-self: center;
    margin-top: 2em;
    font-size: 0.7em;

    border: 2px solid;
    padding: 2.5em;

    .form-title {
      font-size: 1.5em;
      padding: 0.5em;
      margin-bottom: 0.5em;
    }

    label {
      margin-bottom: 0.5em;
    }

    input {
      margin-bottom: 1em;
    }

    .form-invalid-msg {
      display: none;
      flex-flow: column nowrap;
      color: #f71f1f;
      font-weight: bolder;
      text-align: right;
      font-size: 0.9em;
    }
  }

  #jobs-forms-container {
    margin-top: 2em;

    & > .form-line:first-child {
      margin-bottom: 2em;
      border-bottom: 2px solid;
      padding: 1em;
    }

    .new-job {
      margin-bottom: 1.5em;
      border-bottom: 2px solid #c35959;
      padding: 1em;
      position: relative;

      .job-number {
        position: absolute;
        left: -1em;
        top: -0.5em;
        font-size: 1.5em;
        font-style: italic;
        font-weight: bold;
        color: #a7a2a2;
      }

      .dropdown {
        font-size: 1.2em;
      }

      ul.dropdown-menu {
        background: #eefbee
      }

      .remove-job {
        right: 0.3em;
        position: absolute;
        top: -0.5em;
        font-size: 2em;
      }

      #status-dd-job-form {
        height: 35px;
        margin-left: 1em;
        display: flex;
        flex-flow: row nowrap;
        max-width: 150px;
        justify-content: flex-end;
        align-self: center;
      }
    }

  }
  



  #home-title {
    text-align: center;
    font-size: 2em;
    max-width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0.7em;

    &:focus {
      outline: 2px dotted green;
    }
  }

  #company-sort-dd {
    left: -1em;
    justify-content: flex-end;

    ul.dropdown-menu {
      right: 0;
      left: initial;
    }
  }


  @import "jobsView";
  

  .job-component td:nth-of-type(1n + 2) {

    &:focus {
      outline: 2px solid green;
      outline-offset: -1px;
    }

    &:hover {
      cursor: pointer;
      border-bottom: 2px solid #65461E; //2px solid darksalmon;
    }
  }
}