#large-jobs-view-container {
  min-height: 80vh;
  padding: 1em;
  margin: 0 auto;
  width: 80%;
  
  @media (max-width: $max-width), (max-device-width: $max-device-width) {
    display: none;
  }

  .company-container {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1.5em;
    padding: 2em;
    border-bottom: 1px dashed;
    position: relative;
  
    &:hover {
      .delete-company {
        display: flex;
      }
    }

    .delete-company {
      position: absolute;
      right: 1em;
      display: none;
    }


  }

  .company-jobs {
    margin-top: 2em;
    font-size: 0.75em;
    width: 100%;
    border-collapse: initial;
    border-spacing: 1em;

    thead th {
      position: relative; 
      text-align: center;
      font-size: 0.8em;
      color: rgba(165, 42, 42, 0.7);
      font-weight: bold;
    }
  }

  .company-name-container {
    display: flex;
    flex-flow: row nowrap;
    
    .jobs-order.dropdown {

      ul.dropdown-menu {
        left: 5em;
      }
    }
    
    .company-summary {
      display: flex;
      font-size: 0.6em;
      align-items: center;
      font-style: italic;
      color: #afadad;
      flex: 2;

      & > div {
        margin-left: 2em;
      }
    }

     &:hover {
      cursor: pointer;
      .company-name {
        cursor: pointer;
        border-color: #72cc6c;
        border-bottom: 3px solid #1d7117; // 
        background: #96e891;
      }
      .open-close-help {
        visibility: visible;
      }
    }
  }

  .company-header-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 4;
    justify-content: flex-end;

    & > div {
      margin-top: 1em;
    }

    #jobs-sort-dd-container {
      display: flex;
      right: 0em;
      top: 2.8em;
      font-size: 0.8em;
    }
  }

  .company-name {
    border-bottom: 3px solid;
    border-color:  #1d7117;
    position: relative;
    flex: 1;
    &:focus {
        outline: none;
        background: white;
      }
    &:hover, &.active {
      cursor: pointer;
      border-color: #72cc6c;
      border-bottom: 3px solid #1d7117; // 
      background: #96e891;
    }

    .open-close-help {
      font-size: 0.8em;
      color: #1d7117;
      font-style: italic;
      position: relative;
      text-align: center;
      width: 100%;
      visibility: hidden;
    }
  }

  .glyphicon-share-alt {
    transform: scaleY(-1) translateY(50%) translateX(100%);
  }

  .job-component td {
    position: relative;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    
    .td-dividers {
      border: 1px solid lightcoral;
      width: 0;
      height: 90%;
      position: absolute;
      top: 0;
      right: -5%;
    }
  }

}