#small-jobs-view-container {
  @media (min-width: $max-width) and (min-device-width: $max-device-width) {
    display: none;
  }

  display: flex;
  flex-flow: column nowrap;
  min-height: 80vh;
  padding: 1em;
  margin: 0 auto;
  min-width: 85%;
  top: 1em;
  position: relative;

  .company-number {
    left: 0.4em;
    top: 0.3em;
    z-index: 100;
  }

  .company-container {
    margin-bottom: 3em;
    border-bottom: 2px dotted;
    margin-top: 1.5em;
    position: relative;
    width: 100%;
    
    .delete-company {
      position: absolute;
      top: -0.3em;
      right: -0.3em;
      font-size: 2em;
      display: none;
    }
  }

  .company-name {
    width: 100%;
    background-color: rgb(255, 255, 255); //rgba(179, 162, 162, 0.6)
    margin-bottom: 1em;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    color: black;
    border-bottom: 3px solid;
    border-color: #1d7117;
    position: relative;

    &:focus {
        outline: none;
        background: white;
      }
    &:hover, &.active {
      cursor: pointer;
      border-color: #72cc6c;
      border-bottom: 3px solid #1d7117; // 
      background: #96e891;
    }

    div {
      font-size: 0.6em;
      color: #5d5959;
    }

    .company-summary {
      position: absolute;
      top: -1.8em;
      left: 0;
      display: flex;
      right: 0;
      justify-content: space-between;
      font-size: 1em;
      align-items: flex-end;
      flex-flow: row wrap;
      font-weight: bolder;

      & > div {
        color: #8e8a8a;
        margin-right: 0.7em;
      }
    }
  }

  .sv-company-jobs-container {
    flex-flow: column nowrap;
    font-size: 0.8em;
  }

  .jobs-container {
    display: none;
  }

  .job-component {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    border-radius: 0.5em;

    & > div {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-top: 0.5em;
      padding: 0.5em;
      border-bottom: 1px dotted grey;
      font-style: italic;

      &:nth-of-type(1n + 2) {
        & div:nth-of-type(1n+2) {
          font-weight: bold;
        }
      }
    }

    .role {
      margin-top: 2em;
    }

    .date_applied {
      position: absolute;
      top: 1em;
      right: 1em;
      font-size: 0.7em;
      color: grey;
      border-bottom: none;
    }

    button.edit {
      margin-top: 1em;
      position: relative;
      width: 100%;
    }

  }
  
}