#snakes-game-container {
  border: 2px solid black;
  min-width: 90%;
  min-height: 80vh;
  display: flex;
  flex-flow: column nowrap;

  #game-options, #game-board {
    width: 100%;
    border: 1px solid;
  }

  #game-board {
    min-height: 85%;
    display: flex;
    flex-flow: column nowrap;

    .game-row {
      display: flex;
      flex-flow: row nowrap;
      flex: 1;

      .game-cell {
        border: 1px solid lightgrey;
        flex: 1;

        &.black {
          background: black;
        }
        &.red {
          background: red;
        }
        &.blue {
          background: blue;
        }
        &.green {
          background: green;
        }
        &.snake {
          background: #f34848;
        }
      }
    }

    .menu {
      display: none;
      position: absolute;
      align-self: center;
      top: 40%;
      background: white;
      padding: 2em;
      flex-flow: column nowrap;
      min-width: 50%;

      .menu-title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 0.5em;
      }

      .menu-help {
        text-align: center;
        font-size: 0.5em;
        color: grey;
      }

      .btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5em;
      }

      #game-score {
        text-align: center;
        font-size: 0.9em;
        margin-bottom: 1em;
      }

      form {
        display: flex;
        justify-content: space-between;
      }

      #leaderboard-toggle {
        font-size: 0.7em;
        text-align: center;
        margin-top: 2em;
        color: #5151d2;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      #leaderboard {
        font-size: 0.7em;
        text-align: center;
      }
    }
  }

  #game-options {
    min-height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.2em;

    #game-difficulty {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      & > * {
        margin-right: 1em;
      }
    }

    #scoreboard {
      text-align: right;
    }

    #game-btns {
      button {
        margin-right: 1em;
      }
    }
  }
}