// size-independent
$body-color: #cff1cf;// #76BA76; //rgba(201, 243, 199, 0.3);
$nav-height: 50px;
$app-min-width: 300px;
$footer-height: 2.5em;
$font-size: 20px;
$max-width: 650px;
$max-device-width: 650px;

// large screens

// small screens