/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_default.scss */
body {
  font-size: 20px;
  min-width: 300px;
  background-color: rgba(201, 243, 199, 0.3);
}

/* line 9, ../sass/_default.scss */
#react-app {
  position: relative;
  min-height: 90vh;
}

/* line 14, ../sass/_default.scss */
.btn-primary {
  background-color: #72cc6c;
  border-color: #72cc6c;
}
/* line 17, ../sass/_default.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:hover:active, .btn-primary:focus, .btn-primary:active:focus {
  background-color: #3da945;
  border-color: #3da945;
}

/* line 23, ../sass/_default.scss */
nav#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 50px;
  border-bottom: 3px solid #483030;
  padding-bottom: 0.1em;
  background: white;
}
/* line 32, ../sass/_default.scss */
nav#header #inner-nav-div {
  border-bottom: 3px solid #72cc6c;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  height: 100%;
  align-items: center;
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: rgba(72, 48, 48, 0.8);
}
/* line 46, ../sass/_default.scss */
nav#header #app-logo {
  color: #8eea88;
  flex-grow: 0.5;
}
/* line 50, ../sass/_default.scss */
nav#header #main-nav-options {
  flex-grow: 2;
  font-size: 0.45em;
  display: flex;
  align-self: flex-end;
  padding-bottom: 0.8em;
  justify-content: space-around;
  height: 100%;
}
@media (max-width: 650px), (max-device-width: 650px) {
  /* line 50, ../sass/_default.scss */
  nav#header #main-nav-options {
    display: none;
  }
}
/* line 62, ../sass/_default.scss */
nav#header #main-nav-options a {
  color: white;
  margin-right: 0.45em;
  margin-left: 0.45em;
  display: flex;
  align-items: flex-end;
  position: relative;
}
/* line 69, ../sass/_default.scss */
nav#header #main-nav-options a:hover {
  text-decoration: none;
}
/* line 71, ../sass/_default.scss */
nav#header #main-nav-options a:hover .menu-highlight {
  visibility: visible;
  opacity: 1;
}
/* line 77, ../sass/_default.scss */
nav#header #main-nav-options a:hover, nav#header #main-nav-options a:active, nav#header #main-nav-options a:hover:active, nav#header #main-nav-options a:focus {
  text-decoration: none;
}
/* line 81, ../sass/_default.scss */
nav#header #main-nav-options a .menu-highlight {
  width: 100%;
  border: 3px solid white;
  margin-bottom: 0.6em;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0;
}
/* line 94, ../sass/_default.scss */
nav#header #auth-buttons {
  flex-grow: 2;
  justify-content: flex-end;
  display: flex;
}
/* line 98, ../sass/_default.scss */
nav#header #auth-buttons a {
  margin-left: 0.5em;
}
@media (max-width: 650px), (max-device-width: 650px) {
  /* line 103, ../sass/_default.scss */
  nav#header #auth-buttons #login-link {
    display: none;
  }
}
/* line 109, ../sass/_default.scss */
nav#header #app-logo:hover, nav#header #app-logo:hover:active, nav#header #app-logo:active {
  text-decoration: none;
  color: #3da945;
}
/* line 114, ../sass/_default.scss */
nav#header #hamburger {
  display: none;
}
/* line 117, ../sass/_default.scss */
nav#header #hamburger #menu-options {
  display: none;
}
@media (max-width: 650px), (max-device-width: 650px) {
  /* line 114, ../sass/_default.scss */
  nav#header #hamburger {
    display: flex;
    color: white;
    margin-left: 0.5em;
  }
  /* line 126, ../sass/_default.scss */
  nav#header #hamburger:hover {
    cursor: pointer;
  }
  /* line 130, ../sass/_default.scss */
  nav#header #hamburger #menu-options {
    position: absolute;
    font-size: 0.5em;
    flex-flow: column nowrap;
    top: 35px;
    right: -1em;
    border: 4px solid cadetblue;
    padding: 1em;
    min-width: 12em;
    background: white;
  }
  /* line 141, ../sass/_default.scss */
  nav#header #hamburger #menu-options a {
    margin-bottom: 0.5em;
    border-bottom: 2px solid lightblue;
    padding: 0.7em;
  }
  /* line 146, ../sass/_default.scss */
  nav#header #hamburger #menu-options a:hover {
    background: rgba(173, 216, 230, 0.3);
  }
  /* line 150, ../sass/_default.scss */
  nav#header #hamburger #menu-options a:hover, nav#header #hamburger #menu-options a:active, nav#header #hamburger #menu-options a:hover:active, nav#header #hamburger #menu-options a:focus {
    text-decoration: none;
  }
}

/* line 159, ../sass/_default.scss */
nav#footer {
  min-height: 3.5em;
  position: absolute;
  bottom: -4.5em;
  width: 100%;
  border-top: 4px solid green;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: white;
}
/* line 169, ../sass/_default.scss */
nav#footer #nav-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7em;
  height: 3.5em;
}

/* line 179, ../sass/_default.scss */
#content-container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

/* line 186, ../sass/_default.scss */
.order-options.dropdown {
  height: 35px;
  margin-left: 1em;
  display: flex;
  flex-flow: row nowrap;
}
/* line 192, ../sass/_default.scss */
.order-options.dropdown div:first-child {
  width: 5em;
  max-height: 50%;
  align-self: center;
}
/* line 198, ../sass/_default.scss */
.order-options.dropdown > * {
  font-size: 0.6em;
}

/* line 203, ../sass/_default.scss */
ul.dropdown-menu {
  flex-flow: column nowrap;
}
/* line 206, ../sass/_default.scss */
ul.dropdown-menu li {
  padding: 1em;
}
/* line 208, ../sass/_default.scss */
ul.dropdown-menu li:hover {
  background: rgba(211, 234, 255, 0.42);
  cursor: pointer;
}

/* line 214, ../sass/_default.scss */
form .form-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 219, ../sass/_default.scss */
form .form-line > * {
  flex: 1;
}

/* line 224, ../sass/_default.scss */
.btn.btn-default.glyphicon.glyphicon-plus {
  background: lightsalmon;
  color: #ffffff;
  max-width: 2.7em;
}
/* line 229, ../sass/_default.scss */
.btn.btn-default.glyphicon.glyphicon-plus:hover, .btn.btn-default.glyphicon.glyphicon-plus:active, .btn.btn-default.glyphicon.glyphicon-plus:hover:active {
  background: darksalmon;
}
/* line 233, ../sass/_default.scss */
.btn.btn-default.glyphicon.glyphicon-plus:focus {
  outline: 5px auto darksalmon;
}

/* line 239, ../sass/_default.scss */
.status-bar.applied {
  background-color: rgba(220, 255, 230, 0.8);
}
/* line 243, ../sass/_default.scss */
.status-bar.phone-screen {
  background-color: #C9F7D4;
}
/* line 247, ../sass/_default.scss */
.status-bar.on-site {
  background-color: #85ED9F;
}
/* line 251, ../sass/_default.scss */
.status-bar.rejected {
  background-color: #5DE77F;
}
/* line 255, ../sass/_default.scss */
.status-bar.offer {
  background-color: rgba(253, 106, 106, 0.6);
}

/* line 261, ../sass/_default.scss */
.form-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

/* line 269, ../sass/_default.scss */
form label {
  color: #b93737;
  font-weight: bold;
}

/* line 274, ../sass/_default.scss */
.glyphicon-remove {
  font-weight: bold;
  color: rgba(175, 14, 14, 0.36);
}
/* line 277, ../sass/_default.scss */
.glyphicon-remove:hover {
  cursor: pointer;
  color: #af0e0e;
}

/* line 4, ../sass/_landing.scss */
#landing-page-container .section {
  min-height: 80vh;
  display: flex;
  border-bottom: 2px solid black;
  padding: 1em;
  margin: 2em;
  border: 2px solid #6d5959;
  background: white;
}
/* line 13, ../sass/_landing.scss */
#landing-page-container .section .ldg-blurb-container {
  display: flex;
  flex: 1;
  padding: 0.5em;
  font-size: 2em;
  justify-content: space-between;
}
/* line 21, ../sass/_landing.scss */
#landing-page-container .section .ldg-imgs-container {
  padding: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 2;
}
/* line 28, ../sass/_landing.scss */
#landing-page-container .section .ldg-imgs-container * {
  margin-bottom: 0.4em;
}
/* line 34, ../sass/_landing.scss */
#landing-page-container .section .ldg-img img {
  width: 100%;
}
/* line 40, ../sass/_landing.scss */
#landing-page-container .section#first {
  justify-content: center;
}
/* line 43, ../sass/_landing.scss */
#landing-page-container .section#first .ldg-blurb-container {
  flex-flow: column nowrap;
  border: 3px solid;
  align-self: center;
  min-height: 50vh;
}
@media (min-width: 651px) and (min-device-width: 651px) {
  /* line 43, ../sass/_landing.scss */
  #landing-page-container .section#first .ldg-blurb-container {
    max-width: 60%;
  }
}
/* line 55, ../sass/_landing.scss */
#landing-page-container .section#first .ldg-blurb {
  margin-bottom: 1em;
  text-align: center;
  align-self: center;
}
/* line 61, ../sass/_landing.scss */
#landing-page-container .section#first button.sign-up {
  height: 3.5em;
  width: 100%;
}
/* line 67, ../sass/_landing.scss */
#landing-page-container .section#second {
  justify-content: space-between;
}
/* line 70, ../sass/_landing.scss */
#landing-page-container .section#second #img-nav {
  width: 60%;
  text-align: center;
}
@media (max-width: 650px), (650px: 650px) {
  /* line 67, ../sass/_landing.scss */
  #landing-page-container .section#second {
    flex-flow: column nowrap;
  }
}
/* line 80, ../sass/_landing.scss */
#landing-page-container .section#third {
  justify-content: space-between;
}
@media (max-width: 650px), (650px: 650px) {
  /* line 80, ../sass/_landing.scss */
  #landing-page-container .section#third {
    flex-flow: column nowrap;
  }
  /* line 84, ../sass/_landing.scss */
  #landing-page-container .section#third .ldg-imgs-container {
    order: 1;
  }
  /* line 87, ../sass/_landing.scss */
  #landing-page-container .section#third .ldg-blurb-container {
    order: 2;
  }
}
/* line 95, ../sass/_landing.scss */
#landing-page-container #scroll-top {
  position: fixed;
  right: 1em;
  bottom: 5.9em;
  background: #c9f3c7;
  border-radius: 100px;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  color: brown;
  border-right: 2px solid brown;
  border-left: 2px solid green;
  border-top: 2px solid brown;
  border-bottom: 2px solid green;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
/* line 116, ../sass/_landing.scss */
#landing-page-container #scroll-top:hover {
  cursor: pointer;
}

@media (max-width: 650px), (max-device-width: 650px) {
  /* line 124, ../sass/_landing.scss */
  #landing-page-container .section {
    justify-content: column nowrap;
  }
}
/* line 1, ../sass/_authForms.scss */
#signup-container, #login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  min-width: 100%;
}

/* line 9, ../sass/_authForms.scss */
#signup-form, #login-form {
  min-width: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2em;
  border: 2px solid brown;
  background: white;
}

/* line 19, ../sass/_authForms.scss */
.form-element {
  margin: 0.8em;
  min-width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 26, ../sass/_authForms.scss */
.form-element input {
  width: 100%;
}

/* line 1, ../sass/_home.scss */
#home-container {
  min-width: 85%;
  background: white;
  display: flex;
  flex-flow: column nowrap;
}
/* line 7, ../sass/_home.scss */
#home-container #line-2 {
  display: flex;
  justify-content: space-between;
}
/* line 11, ../sass/_home.scss */
#home-container #line-2 button#add-company, #home-container #line-2 button#cancel-company {
  right: -2.7em;
  position: relative;
}
/* line 19, ../sass/_home.scss */
#home-container #line-2 #form-toggle-options:hover #company-form-btn-help {
  visibility: visible;
}
/* line 25, ../sass/_home.scss */
#home-container #line-2 button#cancel-company {
  display: none;
}
/* line 29, ../sass/_home.scss */
#home-container #line-2 #company-form-btn-help {
  visibility: hidden;
  position: relative;
  bottom: 1.3em;
  left: 2em;
}
/* line 35, ../sass/_home.scss */
#home-container #line-2 #company-form-btn-help #help-for-add, #home-container #line-2 #company-form-btn-help #help-for-cancel {
  font-size: 0.6em;
  color: lightgrey;
  position: relative;
  left: 4.5em;
  bottom: 45%;
}
/* line 42, ../sass/_home.scss */
#home-container #line-2 #company-form-btn-help #help-for-add {
  display: flex;
}
/* line 46, ../sass/_home.scss */
#home-container #line-2 #company-form-btn-help #help-for-cancel {
  display: none;
}
/* line 52, ../sass/_home.scss */
#home-container form#new-company {
  min-width: 80%;
  align-self: center;
  margin-top: 2em;
  font-size: 0.7em;
  border: 2px solid;
  padding: 2.5em;
}
/* line 61, ../sass/_home.scss */
#home-container form#new-company label {
  margin-bottom: 0.5em;
}
/* line 65, ../sass/_home.scss */
#home-container form#new-company input {
  margin-bottom: 1em;
}
/* line 70, ../sass/_home.scss */
#home-container #jobs-forms-container {
  margin-top: 2em;
}
/* line 73, ../sass/_home.scss */
#home-container #jobs-forms-container > .form-line:first-child {
  margin-bottom: 2em;
  border-bottom: 2px solid;
  padding: 1em;
}
/* line 79, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job {
  margin-bottom: 1.5em;
  border-bottom: 2px solid #c35959;
  padding: 1em;
  position: relative;
}
/* line 85, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job .job-number {
  position: absolute;
  left: -1em;
  top: -0.5em;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  color: #a7a2a2;
}
/* line 95, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job .dropdown {
  font-size: 1.2em;
}
/* line 99, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job ul.dropdown-menu {
  background: #eefbee;
}
/* line 103, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job .remove-job {
  right: 0.3em;
  position: absolute;
  top: -0.5em;
  font-size: 2em;
}
/* line 110, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job #status-dd-job-form {
  height: 35px;
  margin-left: 1em;
  display: flex;
  flex-flow: row nowrap;
  max-width: 150px;
  justify-content: flex-end;
  align-self: center;
}
/* line 126, ../sass/_home.scss */
#home-container #home-title {
  text-align: center;
  font-size: 2em;
  max-width: 60%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0.7em;
}
/* line 134, ../sass/_home.scss */
#home-container #home-title:focus {
  outline: 2px dotted green;
}
/* line 139, ../sass/_home.scss */
#home-container #company-sort-dd {
  left: -1em;
  justify-content: flex-end;
}
/* line 143, ../sass/_home.scss */
#home-container #company-sort-dd ul.dropdown-menu {
  right: 0;
  left: initial;
}
/* line 151, ../sass/_home.scss */
#home-container #large-jobs-view-container {
  min-height: 80vh;
  padding: 1em;
  margin: 0 auto;
}
@media (max-width: 650px), (max-device-width: 650px) {
  /* line 151, ../sass/_home.scss */
  #home-container #large-jobs-view-container {
    display: none;
  }
}
/* line 160, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1.5em;
  padding: 1em;
  border-bottom: 1px dashed;
}
/* line 168, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-jobs {
  margin-left: 2.5em;
  font-size: 0.75em;
  width: 90%;
  border-collapse: initial;
  border-spacing: 0 2em;
  display: none;
}
/* line 176, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-jobs thead th {
  position: relative;
  text-align: center;
  font-size: 0.8em;
  color: rgba(165, 42, 42, 0.7);
  font-weight: bold;
}
/* line 185, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name-container {
  display: flex;
  flex-flow: row nowrap;
}
/* line 189, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name-container .jobs-order.dropdown {
  display: none;
}
/* line 192, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name-container .jobs-order.dropdown ul.dropdown-menu {
  left: 5em;
}
/* line 197, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name-container .company-summary {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 0.6em;
  align-items: center;
  font-style: italic;
  color: #afadad;
}
/* line 206, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name-container .company-summary > div {
  margin-left: 2em;
}
/* line 212, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name-container:hover {
  cursor: pointer;
}
/* line 214, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name-container:hover .company-name {
  cursor: pointer;
  border-color: #72cc6c;
  border-bottom: 3px solid #1d7117;
  background: #96e891;
}
/* line 220, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name-container:hover .open-close-help {
  visibility: visible;
}
/* line 225, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-header-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
/* line 231, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name {
  border-bottom: 3px solid;
  border-color: #1d7117;
  position: relative;
}
/* line 235, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name:focus {
  outline: none;
  background: white;
}
/* line 239, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name:hover, #home-container #large-jobs-view-container .company-name.active {
  cursor: pointer;
  border-color: #72cc6c;
  border-bottom: 3px solid #1d7117;
  background: #96e891;
}
/* line 246, ../sass/_home.scss */
#home-container #large-jobs-view-container .company-name .open-close-help {
  font-size: 0.8em;
  color: #1d7117;
  font-style: italic;
  position: relative;
  text-align: center;
  width: 100%;
  visibility: hidden;
}
/* line 257, ../sass/_home.scss */
#home-container #large-jobs-view-container .glyphicon-share-alt {
  transform: scaleY(-1) translateY(50%) translateX(100%);
}
/* line 261, ../sass/_home.scss */
#home-container #large-jobs-view-container .job-component td:first-child {
  border-bottom: 2px solid;
  width: 1.5em;
  border-left: 2px solid;
  height: 1.5em;
  transform: translateY(-45%);
  border-color: lightgrey;
}
/* line 270, ../sass/_home.scss */
#home-container #large-jobs-view-container .job-component td {
  position: relative;
  text-align: center;
  border-bottom: 1px dotted lightgrey;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 277, ../sass/_home.scss */
#home-container #large-jobs-view-container .job-component td .td-dividers {
  border: 1px solid lightcoral;
  width: 0;
  height: 90%;
  position: absolute;
  top: 0;
  right: -5%;
}
/* line 289, ../sass/_home.scss */
#home-container #small-jobs-view-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 80vh;
  padding: 1em;
  margin: 0 auto;
  max-width: 80%;
}
@media (min-width: 650px) and (min-device-width: 650px) {
  /* line 289, ../sass/_home.scss */
  #home-container #small-jobs-view-container {
    display: none;
  }
}
/* line 301, ../sass/_home.scss */
#home-container #small-jobs-view-container .company-name {
  width: 100%;
  background-color: white;
  margin-bottom: 3em;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: black;
  border: 2px solid #483030;
}
/* line 311, ../sass/_home.scss */
#home-container #small-jobs-view-container .company-name:hover {
  background-color: rgba(179, 162, 162, 0.6);
}
/* line 315, ../sass/_home.scss */
#home-container #small-jobs-view-container .company-name:focus {
  outline: 3px solid #483030;
}
/* line 319, ../sass/_home.scss */
#home-container #small-jobs-view-container .company-name div {
  font-size: 0.6em;
  color: #5d5959;
}
/* line 325, ../sass/_home.scss */
#home-container #small-jobs-view-container .jobs-container {
  display: none;
}
/* line 331, ../sass/_home.scss */
#home-container .job-component td:nth-of-type(1n + 2) {
  border-right: 2px solid darksalmon;
}
/* line 334, ../sass/_home.scss */
#home-container .job-component td:nth-of-type(1n + 2):focus {
  outline: 2px solid green;
  outline-offset: -1px;
}
/* line 339, ../sass/_home.scss */
#home-container .job-component td:nth-of-type(1n + 2):hover {
  box-shadow: 3px -3px 30px #c0ffc0;
  cursor: pointer;
  transform: scale(1.2);
  background: white;
  border-radius: 10px;
  border-left: 2px solid darksalmon;
  font-size: 0.88em;
}
