/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_default.scss */
body {
  font-size: 20px;
  min-width: 300px;
  background-color: #cff1cf;
}

/* line 9, ../sass/_default.scss */
#react-app {
  position: relative;
  min-height: 90vh;
}

/* line 14, ../sass/_default.scss */
.btn-primary {
  background-color: #3da945;
  border-color: #3da945;
}
/* line 17, ../sass/_default.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:hover:active, .btn-primary:focus, .btn-primary:active:focus {
  background-color: #2b8421;
  border-color: #2b8421;
}

/* line 23, ../sass/_default.scss */
nav#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 50px;
  border-bottom: 6px solid #472902;
  padding-bottom: 0.1em;
  background: #65461E;
}
/* line 32, ../sass/_default.scss */
nav#header #inner-nav-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  height: 100%;
  align-items: center;
  font-size: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #65461e;
}
/* line 45, ../sass/_default.scss */
nav#header #inner-nav-div > div:not(#main-nav-options) {
  display: flex;
  flex-flow: row nowrap;
}
/* line 50, ../sass/_default.scss */
nav#header #inner-nav-div #nav-user-settings {
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.8em;
}
/* line 56, ../sass/_default.scss */
nav#header #inner-nav-div #nav-user-settings #user-name {
  margin-right: 0.5em;
}
/* line 60, ../sass/_default.scss */
nav#header #inner-nav-div #nav-user-settings #user-dropdown {
  font-size: 0.5em;
}
/* line 63, ../sass/_default.scss */
nav#header #inner-nav-div #nav-user-settings #user-dropdown:hover {
  cursor: pointer;
}
/* line 67, ../sass/_default.scss */
nav#header #inner-nav-div #nav-user-settings #user-dropdown ul.dropdown-menu {
  right: -0.6em;
  left: initial;
  color: #6a581e;
  text-align: right;
  font-weight: bolder;
  min-width: 100px;
}
/* line 79, ../sass/_default.scss */
nav#header #app-logo {
  color: #76BA76;
  flex-grow: 0.5;
  text-decoration: none;
}
/* line 84, ../sass/_default.scss */
nav#header #main-nav-options {
  flex-grow: 2;
  font-size: 0.45em;
  display: flex;
  align-self: flex-end;
  padding-bottom: 0.8em;
  height: 100%;
  margin-left: 4em;
}
@media (max-width: 650px), (max-device-width: 650px) {
  /* line 84, ../sass/_default.scss */
  nav#header #main-nav-options {
    display: none;
  }
}
/* line 96, ../sass/_default.scss */
nav#header #main-nav-options a {
  color: white;
  margin-right: 2em;
  margin-left: 0.45em;
  display: flex;
  align-items: flex-end;
  position: relative;
}
/* line 103, ../sass/_default.scss */
nav#header #main-nav-options a:hover {
  text-decoration: none;
}
/* line 105, ../sass/_default.scss */
nav#header #main-nav-options a:hover .menu-highlight {
  visibility: visible;
  opacity: 1;
}
/* line 111, ../sass/_default.scss */
nav#header #main-nav-options a:hover, nav#header #main-nav-options a:active, nav#header #main-nav-options a:hover:active, nav#header #main-nav-options a:focus {
  text-decoration: none;
}
/* line 115, ../sass/_default.scss */
nav#header #main-nav-options a .menu-highlight {
  width: 100%;
  border: 3px solid white;
  margin-bottom: 0.6em;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 0;
}
/* line 128, ../sass/_default.scss */
nav#header #auth-buttons {
  flex-grow: 2;
  justify-content: flex-end;
  display: flex;
}
/* line 132, ../sass/_default.scss */
nav#header #auth-buttons a {
  margin-left: 0.5em;
}
/* line 143, ../sass/_default.scss */
nav#header #app-logo:hover, nav#header #app-logo:hover:active, nav#header #app-logo:active {
  text-decoration: none;
  color: #3da945;
}
/* line 148, ../sass/_default.scss */
nav#header #hamburger {
  display: none;
}
/* line 151, ../sass/_default.scss */
nav#header #hamburger #menu-options {
  display: none;
}
@media (max-width: 650px), (max-device-width: 650px) {
  /* line 148, ../sass/_default.scss */
  nav#header #hamburger {
    display: flex;
    color: white;
    margin-right: 0.5em;
  }
  /* line 160, ../sass/_default.scss */
  nav#header #hamburger:hover {
    cursor: pointer;
  }
  /* line 164, ../sass/_default.scss */
  nav#header #hamburger #menu-options {
    position: absolute;
    font-size: 0.5em;
    flex-flow: column nowrap;
    top: 35px;
    left: -1em;
    border: 4px solid #472902;
    padding: 1em;
    min-width: 12em;
    background: white;
  }
  /* line 175, ../sass/_default.scss */
  nav#header #hamburger #menu-options a {
    margin-bottom: 0.5em;
    border-bottom: 2px solid #76ba76;
    padding: 0.7em;
    color: #65461e;
    font-weight: bolder;
  }
  /* line 182, ../sass/_default.scss */
  nav#header #hamburger #menu-options a:hover {
    background: #B3EFB4;
  }
  /* line 186, ../sass/_default.scss */
  nav#header #hamburger #menu-options a:hover, nav#header #hamburger #menu-options a:active, nav#header #hamburger #menu-options a:hover:active, nav#header #hamburger #menu-options a:focus {
    text-decoration: none;
  }
}

/* line 195, ../sass/_default.scss */
nav#footer {
  min-height: 70vh;
  bottom: -4.5em;
  width: 100%;
  border-top: 2px solid #472902;
  background-color: #e4eae4;
}
/* line 202, ../sass/_default.scss */
nav#footer #nav-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-top: 2em;
  height: 70vh;
  margin-top: 2em;
}
/* line 210, ../sass/_default.scss */
nav#footer #nav-options .footer-component {
  max-height: 80%;
  min-width: 33%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* line 217, ../sass/_default.scss */
nav#footer #nav-options .footer-component .footer-component-title {
  color: #65461e;
  font-weight: bold;
}
/* line 221, ../sass/_default.scss */
nav#footer #nav-options .footer-component .footer-component-body {
  display: flex;
  flex-flow: column nowrap;
}
/* line 224, ../sass/_default.scss */
nav#footer #nav-options .footer-component .footer-component-body > * {
  margin-top: 2em;
}

/* line 232, ../sass/_default.scss */
#content-container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  min-height: 85vh;
}

/* line 240, ../sass/_default.scss */
.order-options.dropdown {
  height: 35px;
  margin-left: 1em;
  display: flex;
  flex-flow: row nowrap;
}
/* line 246, ../sass/_default.scss */
.order-options.dropdown div:first-child {
  width: 5em;
  max-height: 50%;
  align-self: center;
}
/* line 252, ../sass/_default.scss */
.order-options.dropdown > * {
  font-size: 0.6em;
}

/* line 257, ../sass/_default.scss */
ul.dropdown-menu {
  flex-flow: column nowrap;
}
/* line 260, ../sass/_default.scss */
ul.dropdown-menu li {
  padding: 1em;
}
/* line 262, ../sass/_default.scss */
ul.dropdown-menu li:hover {
  background: #B3EFB4;
  cursor: pointer;
}

/* line 268, ../sass/_default.scss */
form .form-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 273, ../sass/_default.scss */
form .form-line > * {
  flex: 1;
}

/* line 278, ../sass/_default.scss */
.btn.btn-default.glyphicon.glyphicon-plus {
  background: lightsalmon;
  color: #ffffff;
  max-width: 2.7em;
}
/* line 283, ../sass/_default.scss */
.btn.btn-default.glyphicon.glyphicon-plus:hover, .btn.btn-default.glyphicon.glyphicon-plus:active, .btn.btn-default.glyphicon.glyphicon-plus:hover:active {
  background: darksalmon;
}
/* line 287, ../sass/_default.scss */
.btn.btn-default.glyphicon.glyphicon-plus:focus {
  outline: 5px auto darksalmon;
}

/* line 293, ../sass/_default.scss */
.status-bar.applied {
  background-color: rgba(220, 255, 230, 0.8);
}
/* line 297, ../sass/_default.scss */
.status-bar.phone-screen {
  background-color: #C9F7D4;
}
/* line 301, ../sass/_default.scss */
.status-bar.on-site {
  background-color: #85ED9F;
}
/* line 305, ../sass/_default.scss */
.status-bar.rejected {
  background-color: rgba(253, 106, 106, 0.6);
}
/* line 309, ../sass/_default.scss */
.status-bar.offer {
  background-color: #5DE77F;
}

/* line 315, ../sass/_default.scss */
.form-title {
  text-align: center;
  font-weight: bolder;
}

/* line 320, ../sass/_default.scss */
form label {
  color: #65461e;
  font-weight: bold;
}

/* line 325, ../sass/_default.scss */
.glyphicon-remove {
  font-weight: bold;
  color: rgba(175, 14, 14, 0.36);
}
/* line 328, ../sass/_default.scss */
.glyphicon-remove:hover {
  cursor: pointer;
  color: #af0e0e;
}

/* line 334, ../sass/_default.scss */
.quote {
  font-style: italic;
  color: brown;
  font-weight: bold;
  margin-bottom: 1em;
}

/* line 6, ../sass/_landing.scss */
#landing-page-container .section {
  height: 90vh;
  display: flex;
  padding: 1em;
  background: #946f3e;
  color: white;
}
/* line 13, ../sass/_landing.scss */
#landing-page-container .section .ldg-blurb-container {
  display: flex;
  flex: 1;
  padding: 0.5em;
  font-size: 2em;
  justify-content: space-between;
}
/* line 21, ../sass/_landing.scss */
#landing-page-container .section .ldg-imgs-container {
  padding: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 2;
}
/* line 28, ../sass/_landing.scss */
#landing-page-container .section .ldg-imgs-container * {
  margin-bottom: 0.4em;
}
/* line 34, ../sass/_landing.scss */
#landing-page-container .section .ldg-img img {
  width: 100%;
}
/* line 40, ../sass/_landing.scss */
#landing-page-container .section#first {
  justify-content: center;
  background: #cff1cf;
}
/* line 43, ../sass/_landing.scss */
#landing-page-container .section#first .ldg-blurb-container {
  flex-flow: column nowrap;
  border: 3px solid;
  align-self: center;
  background: white;
  color: black;
  min-height: 50vh;
}
@media (min-width: 651px) and (min-device-width: 651px) {
  /* line 43, ../sass/_landing.scss */
  #landing-page-container .section#first .ldg-blurb-container {
    max-width: 60%;
  }
}
/* line 57, ../sass/_landing.scss */
#landing-page-container .section#first .ldg-blurb {
  margin-bottom: 1em;
  text-align: center;
  align-self: center;
}
/* line 63, ../sass/_landing.scss */
#landing-page-container .section#first .sign-up {
  align-self: center;
  min-width: 80%;
  min-height: 2em;
  font-size: 0.8em;
  font-weight: bold;
}
/* line 72, ../sass/_landing.scss */
#landing-page-container .section#second {
  justify-content: space-between;
  background: #946f3e;
}
/* line 75, ../sass/_landing.scss */
#landing-page-container .section#second #img-nav {
  width: 60%;
  text-align: center;
}
@media (max-width: 650px), (650px: 650px) {
  /* line 72, ../sass/_landing.scss */
  #landing-page-container .section#second {
    flex-flow: column nowrap;
  }
}
/* line 85, ../sass/_landing.scss */
#landing-page-container .section#third {
  justify-content: space-between;
  background: #cff1cf;
}
@media (max-width: 650px), (650px: 650px) {
  /* line 85, ../sass/_landing.scss */
  #landing-page-container .section#third {
    flex-flow: column nowrap;
  }
  /* line 90, ../sass/_landing.scss */
  #landing-page-container .section#third .ldg-imgs-container {
    order: 1;
  }
  /* line 93, ../sass/_landing.scss */
  #landing-page-container .section#third .ldg-blurb-container {
    order: 2;
  }
}
/* line 101, ../sass/_landing.scss */
#landing-page-container #scroll-top {
  position: fixed;
  right: 1em;
  bottom: 5.9em;
  background: #c9f3c7;
  border-radius: 100px;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  color: brown;
  border-right: 2px solid brown;
  border-left: 2px solid green;
  border-top: 2px solid brown;
  border-bottom: 2px solid green;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 650px), (max-device-width: 650px) {
  /* line 101, ../sass/_landing.scss */
  #landing-page-container #scroll-top {
    border-radius: 0px;
    width: 2em;
    height: 2em;
    right: 0em;
  }
}
/* line 128, ../sass/_landing.scss */
#landing-page-container #scroll-top:hover {
  cursor: pointer;
}

@media (max-width: 650px), (max-device-width: 650px) {
  /* line 136, ../sass/_landing.scss */
  #landing-page-container .section {
    justify-content: column nowrap;
  }
}
/* line 1, ../sass/_authForms.scss */
#signup-container, #login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  min-width: 100%;
}
/* line 7, ../sass/_authForms.scss */
#signup-container .form-invalid-msg, #login-container .form-invalid-msg {
  flex-flow: column nowrap;
  color: #f71f1f;
  font-weight: bolder;
  text-align: right;
  font-size: 0.9em;
}

/* line 16, ../sass/_authForms.scss */
#signup-form, #login-form {
  min-width: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2em;
  border: 2px solid brown;
  background: white;
}
/* line 25, ../sass/_authForms.scss */
#signup-form .invalid-creds, #login-form .invalid-creds {
  display: flex;
  flex-flow: column nowrap;
  color: red;
  font-size: 0.9em;
}
/* line 31, ../sass/_authForms.scss */
#signup-form .invalid-creds:hover, #login-form .invalid-creds:hover {
  cursor: pointer;
}
/* line 34, ../sass/_authForms.scss */
#signup-form .invalid-creds #close, #login-form .invalid-creds #close {
  font-size: 0.6em;
  color: black;
}

/* line 41, ../sass/_authForms.scss */
.form-element {
  margin: 0.8em;
  min-width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 48, ../sass/_authForms.scss */
.form-element input {
  width: 100%;
}

/* line 1, ../sass/_home.scss */
#home-container {
  min-width: 85%;
  background: white;
  display: flex;
  flex-flow: column nowrap;
}
/* line 7, ../sass/_home.scss */
#home-container .company-number {
  position: absolute;
  left: -2em;
  top: 2em;
  font-style: italic;
  color: rgba(165, 42, 42, 0.68);
  font-weight: bold;
}
/* line 17, ../sass/_home.scss */
#home-container #line-2 {
  display: flex;
  justify-content: space-between;
}
/* line 21, ../sass/_home.scss */
#home-container #line-2 button#add-company, #home-container #line-2 button#cancel-company {
  right: -2.7em;
  position: relative;
}
/* line 29, ../sass/_home.scss */
#home-container #line-2 #form-toggle-options:hover #company-form-btn-help {
  visibility: visible;
}
/* line 35, ../sass/_home.scss */
#home-container #line-2 button#cancel-company {
  display: none;
}
/* line 39, ../sass/_home.scss */
#home-container #line-2 #company-form-btn-help {
  visibility: hidden;
  position: relative;
  bottom: -0.2em;
  left: -0.5em;
}
/* line 45, ../sass/_home.scss */
#home-container #line-2 #company-form-btn-help #help-for-add, #home-container #line-2 #company-form-btn-help #help-for-cancel {
  font-size: 0.6em;
  color: lightgrey;
  position: relative;
  left: 4.5em;
  bottom: 45%;
}
/* line 52, ../sass/_home.scss */
#home-container #line-2 #company-form-btn-help #help-for-add {
  display: flex;
}
/* line 56, ../sass/_home.scss */
#home-container #line-2 #company-form-btn-help #help-for-cancel {
  display: none;
}
/* line 62, ../sass/_home.scss */
#home-container form#new-company {
  min-width: 80%;
  align-self: center;
  margin-top: 2em;
  font-size: 0.7em;
  border: 2px solid;
  padding: 2.5em;
}
/* line 71, ../sass/_home.scss */
#home-container form#new-company .form-title {
  font-size: 1.5em;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
/* line 77, ../sass/_home.scss */
#home-container form#new-company label {
  margin-bottom: 0.5em;
}
/* line 81, ../sass/_home.scss */
#home-container form#new-company input {
  margin-bottom: 1em;
}
/* line 85, ../sass/_home.scss */
#home-container form#new-company .form-invalid-msg {
  display: none;
  flex-flow: column nowrap;
  color: #f71f1f;
  font-weight: bolder;
  text-align: right;
  font-size: 0.9em;
}
/* line 95, ../sass/_home.scss */
#home-container #jobs-forms-container {
  margin-top: 2em;
}
/* line 98, ../sass/_home.scss */
#home-container #jobs-forms-container > .form-line:first-child {
  margin-bottom: 2em;
  border-bottom: 2px solid;
  padding: 1em;
}
/* line 104, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job {
  margin-bottom: 1.5em;
  border-bottom: 2px solid #c35959;
  padding: 1em;
  position: relative;
}
/* line 110, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job .job-number {
  position: absolute;
  left: -1em;
  top: -0.5em;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  color: #a7a2a2;
}
/* line 120, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job .dropdown {
  font-size: 1.2em;
}
/* line 124, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job ul.dropdown-menu {
  background: #eefbee;
}
/* line 128, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job .remove-job {
  right: 0.3em;
  position: absolute;
  top: -0.5em;
  font-size: 2em;
}
/* line 135, ../sass/_home.scss */
#home-container #jobs-forms-container .new-job #status-dd-job-form {
  height: 35px;
  margin-left: 1em;
  display: flex;
  flex-flow: row nowrap;
  max-width: 150px;
  justify-content: flex-end;
  align-self: center;
}
/* line 151, ../sass/_home.scss */
#home-container #home-title {
  text-align: center;
  font-size: 2em;
  max-width: 60%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0.7em;
}
/* line 159, ../sass/_home.scss */
#home-container #home-title:focus {
  outline: 2px dotted green;
}
/* line 164, ../sass/_home.scss */
#home-container #company-sort-dd {
  left: -1em;
  justify-content: flex-end;
}
/* line 168, ../sass/_home.scss */
#home-container #company-sort-dd ul.dropdown-menu {
  right: 0;
  left: initial;
}
/* line 1, ../sass/_largeView.scss */
#home-container #large-jobs-view-container {
  min-height: 80vh;
  padding: 1em;
  margin: 0 auto;
  max-width: 80%;
}
@media (max-width: 650px), (max-device-width: 650px) {
  /* line 1, ../sass/_largeView.scss */
  #home-container #large-jobs-view-container {
    display: none;
  }
}
/* line 11, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1.5em;
  padding: 1em;
  border-bottom: 1px dashed;
  position: relative;
}
/* line 20, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-jobs {
  margin-left: 2.5em;
  font-size: 0.75em;
  width: 90%;
  border-collapse: initial;
  border-spacing: 0 2em;
}
/* line 27, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-jobs thead th {
  position: relative;
  text-align: center;
  font-size: 0.8em;
  color: rgba(165, 42, 42, 0.7);
  font-weight: bold;
}
/* line 36, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name-container {
  display: flex;
  flex-flow: row nowrap;
}
/* line 42, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name-container .jobs-order.dropdown ul.dropdown-menu {
  left: 5em;
}
/* line 47, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name-container .company-summary {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 0.6em;
  align-items: center;
  font-style: italic;
  color: #afadad;
}
/* line 56, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name-container .company-summary > div {
  margin-left: 2em;
}
/* line 62, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name-container:hover {
  cursor: pointer;
}
/* line 64, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name-container:hover .company-name {
  cursor: pointer;
  border-color: #72cc6c;
  border-bottom: 3px solid #1d7117;
  background: #96e891;
}
/* line 70, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name-container:hover .open-close-help {
  visibility: visible;
}
/* line 75, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-header-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
/* line 81, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name {
  border-bottom: 3px solid;
  border-color: #1d7117;
  position: relative;
}
/* line 85, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name:focus {
  outline: none;
  background: white;
}
/* line 89, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name:hover, #home-container #large-jobs-view-container .company-name.active {
  cursor: pointer;
  border-color: #72cc6c;
  border-bottom: 3px solid #1d7117;
  background: #96e891;
}
/* line 96, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .company-name .open-close-help {
  font-size: 0.8em;
  color: #1d7117;
  font-style: italic;
  position: relative;
  text-align: center;
  width: 100%;
  visibility: hidden;
}
/* line 107, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .glyphicon-share-alt {
  transform: scaleY(-1) translateY(50%) translateX(100%);
}
/* line 111, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .job-component td:first-child {
  border-bottom: 2px solid;
  width: 1.5em;
  border-left: 2px solid;
  height: 1.5em;
  transform: translateY(-45%);
  border-color: lightgrey;
}
/* line 120, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .job-component td {
  position: relative;
  text-align: center;
  border-bottom: 1px dotted lightgrey;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 127, ../sass/_largeView.scss */
#home-container #large-jobs-view-container .job-component td .td-dividers {
  border: 1px solid lightcoral;
  width: 0;
  height: 90%;
  position: absolute;
  top: 0;
  right: -5%;
}
/* line 1, ../sass/_smallView.scss */
#home-container #small-jobs-view-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 80vh;
  padding: 1em;
  margin: 0 auto;
  min-width: 80%;
  top: 1em;
  position: relative;
}
@media (min-width: 650px) and (min-device-width: 650px) {
  /* line 1, ../sass/_smallView.scss */
  #home-container #small-jobs-view-container {
    display: none;
  }
}
/* line 15, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .company-container {
  margin-bottom: 3em;
  border-bottom: 2px dotted;
  margin-top: 1.5em;
  position: relative;
}
/* line 22, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .company-name {
  width: 100%;
  background-color: white;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: black;
  border-bottom: 3px solid;
  border-color: #1d7117;
  position: relative;
}
/* line 34, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .company-name:focus {
  outline: none;
  background: white;
}
/* line 38, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .company-name:hover, #home-container #small-jobs-view-container .company-name.active {
  cursor: pointer;
  border-color: #72cc6c;
  border-bottom: 3px solid #1d7117;
  background: #96e891;
}
/* line 45, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .company-name div {
  font-size: 0.6em;
  color: #5d5959;
}
/* line 50, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .company-name .company-summary {
  position: absolute;
  top: -1.8em;
  left: 0;
  display: flex;
  right: 0;
  justify-content: space-between;
  font-size: 1em;
  align-items: flex-end;
  flex-flow: row wrap;
  font-weight: bolder;
}
/* line 62, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .company-name .company-summary > div {
  color: #8e8a8a;
  margin-right: 0.7em;
}
/* line 69, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .sv-company-jobs-container {
  flex-flow: column nowrap;
}
/* line 73, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .jobs-container {
  display: none;
}
/* line 77, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .job-component {
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  border-radius: 0.5em;
}
/* line 84, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .job-component > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0.5em;
  padding: 0.5em;
  border-bottom: 1px dotted grey;
}
/* line 92, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .job-component > div.rol-loc-div {
  margin-top: 1em;
}
/* line 97, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .job-component .role {
  margin-right: 0.5em;
}
/* line 101, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .job-component .status {
  font-size: 0.8em;
}
/* line 105, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .job-component .date_applied {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 0.5em;
  color: grey;
  border-bottom: none;
}
/* line 114, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .job-component .recruiter {
  font-size: 0.7em;
  align-self: flex-end;
  font-style: italic;
}
/* line 120, ../sass/_smallView.scss */
#home-container #small-jobs-view-container .job-component button.edit {
  margin-top: 1em;
  position: relative;
  left: 80%;
}
/* line 178, ../sass/_home.scss */
#home-container .job-component td:nth-of-type(1n + 2) {
  border-right: 2px solid #65461E;
}
/* line 181, ../sass/_home.scss */
#home-container .job-component td:nth-of-type(1n + 2):focus {
  outline: 2px solid green;
  outline-offset: -1px;
}
/* line 186, ../sass/_home.scss */
#home-container .job-component td:nth-of-type(1n + 2):hover {
  box-shadow: 3px -3px 30px #c0ffc0;
  cursor: pointer;
  transform: scale(1.2);
  background: white;
  border-radius: 10px;
  border-left: 2px solid #65461E;
  font-size: 0.88em;
}

/* line 1, ../sass/_dne.scss */
#dne-page-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 100%;
}
/* line 7, ../sass/_dne.scss */
#dne-page-container #snakes-title {
  font-size: 0.8em;
  color: black;
  min-width: 100%;
  padding: 1em;
  background: white;
  border: 2px solid black;
}
/* line 15, ../sass/_dne.scss */
#dne-page-container #snakes-title #center {
  margin-top: 1.5em;
}

/* line 3, ../sass/_snakes.scss */
#snakes-game-container {
  border: 2px solid black;
  min-width: 100%;
  min-height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  background: white;
}
/* line 11, ../sass/_snakes.scss */
#snakes-game-container #game-options, #snakes-game-container #game-board {
  width: 100%;
  border: 1px solid;
}
/* line 16, ../sass/_snakes.scss */
#snakes-game-container #game-board {
  display: flex;
  flex-flow: column nowrap;
  flex: 10;
  position: relative;
}
/* line 22, ../sass/_snakes.scss */
#snakes-game-container #game-board .game-row {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}
/* line 27, ../sass/_snakes.scss */
#snakes-game-container #game-board .game-row .game-cell {
  border: 1px solid lightgrey;
  flex: 1;
}
/* line 31, ../sass/_snakes.scss */
#snakes-game-container #game-board .game-row .game-cell.black {
  background: black;
}
/* line 34, ../sass/_snakes.scss */
#snakes-game-container #game-board .game-row .game-cell.red {
  background: red;
}
/* line 37, ../sass/_snakes.scss */
#snakes-game-container #game-board .game-row .game-cell.blue {
  background: blue;
}
/* line 40, ../sass/_snakes.scss */
#snakes-game-container #game-board .game-row .game-cell.green {
  background: green;
}
/* line 43, ../sass/_snakes.scss */
#snakes-game-container #game-board .game-row .game-cell.snake {
  background: #f34848;
}
/* line 49, ../sass/_snakes.scss */
#snakes-game-container #game-board .menu {
  display: none;
  position: absolute;
  align-self: center;
  top: 20%;
  background: white;
  padding: 2em;
  flex-flow: column nowrap;
  min-width: 50%;
  border: 2px solid black;
}
/* line 60, ../sass/_snakes.scss */
#snakes-game-container #game-board .menu .menu-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 66, ../sass/_snakes.scss */
#snakes-game-container #game-board .menu .menu-help {
  text-align: center;
  font-size: 0.5em;
  color: grey;
}
/* line 72, ../sass/_snakes.scss */
#snakes-game-container #game-board .menu .btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}
/* line 78, ../sass/_snakes.scss */
#snakes-game-container #game-board .menu #game-score {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 1em;
}
/* line 84, ../sass/_snakes.scss */
#snakes-game-container #game-board .menu form {
  display: flex;
  justify-content: space-between;
}
/* line 89, ../sass/_snakes.scss */
#snakes-game-container #game-board .menu #leaderboard-toggle {
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em;
  color: #5151d2;
}
/* line 95, ../sass/_snakes.scss */
#snakes-game-container #game-board .menu #leaderboard-toggle:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* line 101, ../sass/_snakes.scss */
#snakes-game-container #game-board .menu #leaderboard {
  font-size: 0.7em;
  text-align: center;
}
/* line 108, ../sass/_snakes.scss */
#snakes-game-container #game-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.2em;
  flex: 1;
}
/* line 115, ../sass/_snakes.scss */
#snakes-game-container #game-options #game-difficulty {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 119, ../sass/_snakes.scss */
#snakes-game-container #game-options #game-difficulty > * {
  margin-left: 1em;
  text-decoration: overline;
  color: black;
  max-height: 1em;
}
/* line 125, ../sass/_snakes.scss */
#snakes-game-container #game-options #game-difficulty > *:hover, #snakes-game-container #game-options #game-difficulty > *.active {
  text-decoration: underline;
  color: green;
}
/* line 129, ../sass/_snakes.scss */
#snakes-game-container #game-options #game-difficulty > *:hover {
  cursor: pointer;
}
/* line 134, ../sass/_snakes.scss */
#snakes-game-container #game-options #game-difficulty #omg {
  color: white;
}
/* line 139, ../sass/_snakes.scss */
#snakes-game-container #game-options #scoreboard {
  text-align: right;
}
/* line 144, ../sass/_snakes.scss */
#snakes-game-container #game-options #game-btns button {
  margin-right: 1em;
}
